<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Шаблон фотограф</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container-fluid g-0 fix">
		<p class="container-fluid g-0 fix-p"> - - шаблон - - </p>
	</div>
	<header class="container-fluid g-0">
		<div class="row g-0 menu">
			<div class="col-2">
				<h1><a href="">Logo.</a></h1>
			</div>
			<div class="col-10">
				<nav>
					<ul>
						<li><a href="">ФОТОГРАФІЇ</a></li>
						<li><a href="">ВІДЕО</a></li>
						<li><a href="">ПУБЛІКАЦІЇ</a></li>
						<li><a href="">МАЙСТЕР-КЛАСИ</a></li>
						<li><a href="">ПРО МЕНЕ</a></li>
						<li><a href="">ІНТЕРВ'Ю</a></li>
						<li><a href="">КОНТАКТИ</a></li>	
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container-fluid g-0 main">
		<div class="container g-0">
			<div class="row g-0">
				<div class="col-6 text">
					<p>"Короткий опис автобіографії." Я фотограф, кінорежисер, письменник і спікер — у серці, оповідач, який досліджує людське існування та наш пошук сенсу.</p>
					<div class="row g-0 social">
						<a href=""><i class="bi bi-instagram"></i></a>
						<a href=""><i class="bi bi-whatsapp"></i></a>
						<a href=""><i class="bi bi-facebook"></i></a>
						<a href=""><i class="bi bi-youtube"></i></a>
					</div>
				</div>
				<div class="col-6 img">
					<img src="img/photographer.jpg" alt="photographer">
				</div>
			</div>
		</div>
	</div>

	<section class="container-fluid g-0 photographer">
		<h2>PHOTOGRAPHER PHOTOGRAPHER PHOTOGRAPHER</h2>
		<div class="row g-0">
			<div class="col-4 portraits">
				<h3>PORTRAITS</h3>
				<img src="img/PORTRAITS.jpg" alt="PORTRAITS">
				<p><span>Портретна фотографія завжди була моїм першим коханням — саме тут поєднуються мій психологічний досвід та мої навички фотографа.</span></p>
				<p>Натхненний Рембрандтом та старими майстрами, я спеціалізуюся на створенні портретів, які одночасно є позачасовими та сучасними — поєднуючи технічну точність із чутливістю до характеру та присутності.</p>
				<p>Оскільки штучний інтелект та синтетичні візуальні ефекти стають дедалі поширенішими, я зосереджуюся на тих речах, які неможливо створити: справжнє світло, що формує ваші риси обличчя, справжня присутність та портрет, який фіксує те, ким ви є насправді в той момент, у якому ви справді пережили. Тож кожен портрет — це дослідження характеру та тихої сили, яка походить від того, що вас справді видно.</p>
				<a href="">більше</a>
			</div>
			<div class="col-4 street">
				<h3>STREET & TRAVEL</h3>
				<img src="img/STREET.jpg" alt="STREET">
				<p><span>Коли повсякденна робота стає технічною, вулична фотографія повертає мене до інстинкту — до бачення, а не до вирішення проблем.</span></p>
				<p>Мене приваблює нефільтрований ритм міського життя: швидкоплинні вирази, зміна світла, покинуті предмети та тиха хореографія між людьми та архітектурою. Мої роботи охоплюють контраст — глибокі тіні, різкі відблиски та графічні форми, що створюються, коли сонячне світло прорізає бетонні каньйони. Кожен кадр — це пошук краси в непоміченому та буденному.</p>
				<p>Я вітаю співпрацю та проекти на замовлення, які поєднують автентичну розповідь із сильною візуальною ідентичністю — від міських вулиць до далеких горизонтів.</p>
				<a href="">більше</a>
			</div>	
			<div class="col-4 rural">
				<h3>RURAL</h3>
				<img src="img/RURAL.jpg" alt="RURAL">
				<p><span>Нові контексти породжують нові напрямки.</span></p>
				<p>Після років документування ритму та енергії міського життя, мій переїзд з Лондона до Північного Йоркширу ознаменував початок спокійнішого, більш споглядального розділу в моїй творчості. Оточений відкритими пейзажами та повільнішими ритмами, я почав фотографувати сцени сільського життя — людей, текстури та невеликі ритуали, що визначають життя за межами міста. Ця робота досліджує наші стосунки з місцем, погодою, часом та незмінною красою, що знаходиться в простоті.</p>
				<p>Хоча обстановка змінилася, мій підхід залишається незмінним: спостерігати чесно та знаходити сенс у повсякденному житті.</p>
				<a href="">більше</a>
			</div>	
		</div>
	</section>

	<section class="container-fluid g-0 filmmaker">
		<h2>FILMMAKER FILMMAKER FILMMAKER FILMMAKER</h2>
		<div class="row g-0">
			<div class="col-4 documentary">
				<h3>DOCUMENTARY</h3>
				<p>Текст, короткий опис відео на ютуб</p>
				<a href=""></a>
			</div>
			<div class="col-4 philosophical">
				<h3>PHILOSOPHICAL</h3>
				<p>Текст, короткий опис відео на ютуб</p>
				<a href=""></a>
			</div>
			<div class="col-4 tutorial">
				<h3>TUTORIAL</h3>
				<p>Текст, короткий опис відео на ютуб</p>
				<a href=""></a>
			</div>
		</div>
		<a class="seeyoutube" href="">дивитись на youtube</a>
	</section>

	<footer>
		<div class="row g-0">
			<div class="col-4 followus">
				<h3>Слідкуйте за нами</h3>
				<h4>Підписуйтесь, щоб отримувати новини</h4>
			</div>
			<div class="col-4 social">
				<a href=""><i class="bi bi-instagram"></i></a>
				<a href=""><i class="bi bi-whatsapp"></i></a>
				<a href=""><i class="bi bi-facebook"></i></a>
				<a href=""><i class="bi bi-youtube"></i></a>
			</div>
			<div class="col-4 logo">
				<h1><a href="">Logo.</a></h1>
			</div>
		</div>
	</footer>
</body>
</html>