<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Шаблон фотогалерея</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">

</head>
<body>
	<div class="container-fluid g-0 shablon">
		<p class="container-fluid g-0 shablon-p"> - - шаблон - - </p>
	</div>

	<header class="container-fluid g-0">
		<div class="row g-0 menu">
			<div class="col-3">
				<h1 class="logo"><a href="">LOGO</a></h1>
			</div>
			<div class="col-9">
				<div class="menu-inst">
					<a href=""><i class="bi bi-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="row g-0">
			<nav>
				<ul>
					<li><a href="">Портретна фотосесія</a></li>
					<li><a href="">Сімейна/дитяча фотосесія</a></li>
					<li><a href="">Студійна фотосесія</a></li>
					<li><a href="">Будуарна/еротична фотосесія</a></li>
					<li><a href="">Косплейна фотосесія</a></li>
					<li><a href="">Весільна фотосесія</a></li>
					<li><a href="">Архітектурна фотосесія</a></li>
					<li><a href="">Природна фотосесія</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="container main g-0">
		<h2>Світ <span>фотографії</span> безмежний — від портретів і моди до природи та повсякденних моментів. Перегляньте моє портфоліо, познайомтеся з моїми роботами та знайдіть кадри, які розповідають власну історію.</h2>
		<div class="social">
			<a href=""><i class="bi bi-instagram"></i></a>
			<a href=""><i class="bi bi-whatsapp"></i></a>
			<a href=""><i class="bi bi-facebook"></i></a>
			<a href=""><i class="bi bi-pinterest"></i></a>
		</div>
	</div>

	<section class="container g-0 portret">
		<h3>Портретна фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/portret-3.jpg" alt="portret">
					<img src="img/portret-1.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/portret-2.jpg" alt="portret">
					<img src="img/portret-4.jpg" alt="portret">
				</div>
			</div>
		</div>
	</section>

	<section class="container g-0 portret">
		<h3>Сімейна/дитяча фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/family-1.jpg" alt="portret">
					<img src="img/family-2.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/family-4.jpg" alt="portret">
					<img src="img/family-3.jpg" alt="portret">
				</div>
			</div>
		</div>
		<div class="social">
			<a href=""><i class="bi bi-instagram"></i></a>
			<a href=""><i class="bi bi-whatsapp"></i></a>
			<a href=""><i class="bi bi-facebook"></i></a>
			<a href=""><i class="bi bi-pinterest"></i></a>
		</div>
	</section>

	<section class="container g-0 portret">
		<h3>Студійна фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/studio-1.jpg" alt="portret">
					<img src="img/studio-3.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/studio-2.jpg" alt="portret">
					<img src="img/studio-4.jpg" alt="portret">
				</div>
			</div>
		</div>
	</section>

	<section class="container g-0 portret">
		<h3>Будуарна/еротична фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/buduar-4.jpg" alt="portret">
					<img src="img/buduar-2.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/buduar-1.jpg" alt="portret">
					<img src="img/buduar-3.jpg" alt="portret">
					<img src="img/buduar-5.jpg" alt="portret">
				</div>
			</div>
		</div>
		<div class="social">
			<a href=""><i class="bi bi-instagram"></i></a>
			<a href=""><i class="bi bi-whatsapp"></i></a>
			<a href=""><i class="bi bi-facebook"></i></a>
			<a href=""><i class="bi bi-pinterest"></i></a>
		</div>
	</section>

	<section class="container g-0 portret">
		<h3>Косплейна фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/kosplay-4.jpg" alt="portret">
					<img src="img/kosplay-3.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/kosplay-1.jpg" alt="portret">
					<img src="img/kosplay-2.jpg" alt="portret">
				</div>
			</div>
		</div>
	</section>

	<section class="container g-0 portret">
		<h3>Весільна фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/wedding-3.jpg" alt="portret">
					<img src="img/wedding-2.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/wedding-1.jpg" alt="portret">
					<img src="img/wedding-4.jpg" alt="portret">
				</div>
			</div>
		</div>
		<div class="social">
			<a href=""><i class="bi bi-instagram"></i></a>
			<a href=""><i class="bi bi-whatsapp"></i></a>
			<a href=""><i class="bi bi-facebook"></i></a>
			<a href=""><i class="bi bi-pinterest"></i></a>
		</div>
	</section>

	<section class="container g-0 portret">
		<h3>Архітектурна фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/arhitek-1.jpg" alt="portret">
					<img src="img/arhitek-2.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/arhitek-3.jpg" alt="portret">
					<img src="img/arhitek-4.jpg" alt="portret">
				</div>
			</div>
		</div>
	</section>

	<section class="container g-0 portret">
		<h3>Природна фотосесія</h3>
		<div class="line"></div>
		<div class="galery">
			<div class="row g-0">
				<div class="col-6 g-0">
					<img src="img/nature-1.jpg" alt="portret">
					<img src="img/nature-3.jpg" alt="portret">
					<img src="img/nature-4.jpg" alt="portret">
				</div>
				<div class="col-6 g-0">
					<img src="img/nature-2.jpg" alt="portret">
					<img src="img/nature-5.jpg" alt="portret">
					<img src="img/nature-6.jpg" alt="portret">
				</div>
			</div>
		</div>
	</section>

	<footer class="container g-0">
		<div class="row g-0 footer">
			<div class="col-8 g-0">
				<div class="social-footer">
					<a href=""><i class="bi bi-instagram"></i></a>
					<a href=""><i class="bi bi-whatsapp"></i></a>
					<a href=""><i class="bi bi-facebook"></i></a>
					<a href=""><i class="bi bi-pinterest"></i></a>
				</div>
				<h4>templates@gmail.com</h4>
			</div>
			<div class="col-4 g-0">
				<h1 class="logo-footer"><a href="">LOGO</a></h1>
			</div>
		</div>
	</footer>
</body>
</html>